body {
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: 0;
}

label {
    display: block;
    margin: 0.5rem 0;
}

.header {
    border: 2px solid black;
    background: rgb(6,13,3);
    background: linear-gradient(90deg, rgba(6,13,3,0.9822129535407913) 0%, rgba(91,133,65,1) 50%, rgba(6,13,3,0.9822129535407913) 100%);
}

fieldset {
    border: none;
    padding: 10px 0 2rem;
    border-bottom: 3px solid #3b3b4f;
}

.raidDebuffs, .personalBuffs {
    width: 90%;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding-left: 8%;
}

.itemDebuffs {
    width:90%;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.sunderExpose, .trinketBlock {
    width: 30%;
    text-align: left;
}

.cor {
    width: 30%;
    text-align: left;
}

.faerieFire {
    width: 30%;
    text-align: left;
}

.remainingAndOvercap {
    display: inline;
}

.hidden {
    display: none;
}